<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gsshop.web.jbp.mapper.SampleMapper">
    <select id="findById" parameterType="Long" resultType="gsshop.web.jbp.dto.Sample">
        SELECT * FROM SAMPLE WHERE id = #{id}
    </select>
</mapper>